@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/mixins"

.header-bar
    background-color: black
    color: white
    height: 75px
    font-size: 30px
    letter-spacing: 2px

#CS
    color: orange

h1
    letter-spacing: 2px

pre
    background-color: rgb(240,240,240)

.codeSample
    background-color: black
    color: white
    padding: 10px
