@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/mixins"

$blue-text: rgb(130, 170, 255)
$pink: rgb(247, 140, 108)
$teal: rgb(127, 219, 202)
$dark-blue: rgb(1, 22, 39)

.header-bar
    background-color: $dark-blue
    color: white
    height: 75px
    font-size: 30px
    letter-spacing: 2px

body
    color: $dark-blue

#CS
    color: $pink

h1
    letter-spacing: 2px

p
    line-height: 30px
    background-color: rgb(245,245,245)
    padding: 15px
    border-radius: 10px

.codeSample
    background-color: rgb(214, 222, 235)
    color: $dark-blue
    padding: 10px
    margin: 0px 0px

.cLUmKH
    overflow: hidden !important

#DD-basic
    color: white

.step
    background-color: $dark-blue
    color: white
    padding: 10px 20px
    border-radius: 10px

.blue-text
    color: $blue-text

.teal-text
    color: rgb(127, 219, 202)

.teal-bg
    background-color: $teal
    border-color: $teal

.pink-text
    color: $pink

.pink-bg
    background-color: $pink
    border-color: $pink

a
    color: $pink
    opacity: 1

.radio
    margin: 6px 20px 6px 6px

hr
    border-top: 5px solid $dark-blue

.jumbotron
    background-color: white

.pill
    padding: 12px
    font-size: 1rem
    margin: 15px 5px 0px 0px
    letter-spacing: 1px
    background-color: $dark-blue
    color: white
    font-weight: normal
    @media screen and (max-width: 767px)
        margin: 5px
